/* *****GENERAL**** */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-color: yellow;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/* ******HEADER***** */

header h2 {
    font-size: 2em;
}


h2, nav, aside, a {
    background-color: dodgerblue;
    color:  #fff;
}



/* ******HEADER_IMAGES**** */
img {
    width: 100%;
}

/* *******MAIN****** */

main {
    background-color: white;
    display: flex;
    margin-top: 25px;
}



h1 {
    color: yellow;
    margin-bottom: 18px;
    font-size: 2em;
}


/* *******MAIN_NAV****** */

nav {
    padding: 0 30px;
    height: 175px;
    text-align: center;
    margin-left: 10px;
}

li {
    margin: 10px 20px;
}

/* *****MAIN_ARTICLE***** */

article {
    margin: 0 20px;
}

/* *******MAIN_ASIDE****** */

aside {
    padding: 10px 33px;
    margin-right: 10px;
}

aside img {
    border: 2px solid white;
}

h2, footer {
    text-align: center;
}

aside h2 {
    margin-bottom: 15px;
}


aside p {
    height: 200px;
}

/*  
*****FOOTER****** */


footer {
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
    padding: 5px 0;
    font-size: 1.2em;
}

